# Configuración General del Proyecto
ENVIRONMENT=development
LOG_LEVEL=INFO

# Rutas de Almacenamiento Local (Data Lake & Database)
DATA_RAW_PATH=./data/raw
DATA_PROCESSED_PATH=./data/processed
DUCKDB_PATH=./data/brecha_laboral.duckdb

# Datos Abiertos Colombia (datos.gov.co API Socrata)
DATOS_GOV_APP_TOKEN=
DATOS_GOV_SPE_DATASET_ID= vacantes-spe-id

# Scraping Engine Settings
SCRAPER_CONCURRENCY=5
SCRAPER_TIMEOUT=15
USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
